* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.85);
}
header {
  background-color: transparent;
}
.img-thumbnail {
  background-color: transparent;
  height: auto;
  width: 100px;
}
.buttons {
  gap: 10px;
}
.buttonHeader {
  border-radius: 10px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 10px;
}
.buttonHeader:hover {
  border-color: rgba(228, 246, 127, 0.85);
  color:rgba(228, 246, 127, 0.85);
}
main {
  margin: 0 auto;
}

